*.vscode

.vscode/c_cpp_properties.json
.vscode/c_cpp_properties.json
.vscode/c_cpp_properties.json
obj/paging.o
*.o
mem
os
*.o
src/HK_212_ASSIGNMENT_OS (1).pdfZone.Identifier
src/HK_212_ASSIGNMENT_OS (1).pdf:Zone.Identifier
